.main-home {
  height: 100vh;
  width: 100vw;
  padding-top: 50%;
}

.main-div {
  margin: auto;
  width: 500px;
  height: 83.8px;
}

.home-title {
  margin-left: 6px;
  margin-bottom: 3px;
}

.div-search {
  display: inline-block;
  width: 400px;
}

.input-search {
  height: 50px;
}

.btn-search {
  display: inline-block;
  height: 50px;
  width: 100px;
  margin-top: -3.63px;
}