.main-home {
  /* height: 100%;
  width: 100%; */
}

.main-div {
  margin: auto;
  margin-top: 37%;
  width: 399px;
  height: 83.8px;
}

.home-title {
  margin-left: 6px;
  margin-bottom: 3px;
  font-size: 26px;
}

.div-search {
  display: inline-block;
  width: 300px;
}

.input-search {
  height: 50px;
}

.btn-search {
  display: inline-block;
  height: 50px;
  width: 99px;
  margin-top: -3.63px;
}