.main-profile {
  margin: auto;
  width: 950px;
}

.avatar-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 10px;
  position: absolute;
}

.left-div {
  display: inline-block;
  width: 350px;
  vertical-align: top;
}

.profile-div {
  float: right;
  margin-right: 60px;
  margin-top: -50px;
}

.repos-div {
  display: inline-block;
  width: 600px;
  padding-top: 60px;
}

.feat-divider {
  width: 100%;
  color: grey;
}

.header-divider {
  margin-top: 72px;
}

.profile-info {
  margin-top: 317px;
  width: 300px;
}

.follow-btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-login {
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
}

.repo-card {
  padding-top: 9px;
}

.repo-divider {
  margin-top: 27px;
}

.repo-header {
  margin-top: -104px;
  margin-left: 30px;
  margin-bottom: 86px;
}

.repo-counter {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 21px;
  height: 21px;

  background: rgb(221, 221, 221);
  color: black;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgb(221, 221, 221);
}

.grey-font {
  color: rgb(109, 109, 109);
}

.followers {
  font-weight: 500;
}

.repo-description {
  margin-bottom: 16px;
}

.repo-language-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.repo-name a {
  text-decoration: none;
  color: rgb(77, 77, 224);
}

@media (max-width: 1000px) {
  .main-profile {
    margin: auto;
    width: 572px;
  }

  .avatar-img {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -308px;
    margin-bottom: 0px;
    position: relative;
  }

  .left-div {
    display: block;
    width: 300px;
    margin-bottom: 0px;
  }

  .profile-div {
    float: none;
    margin-right: 0px;
    margin-top: -50px;
    width: 572px;
  }

  .profile-info {
    display: inline-block;
    margin-top: 70px;
    margin-left: 22px;
    width: 300px;
  }

  .repo-header {
    margin-top: -20px;
    margin-left: -5px;
    margin-bottom: 27px;
    font-size: 27px;
  }
}